:root {
  --pri: #e3e3e3;
  --sec: #0e1a23;
  --ter2: #456882;
  --ter1: #052c47;
  --red: crimson;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 7000;
  src: url(./AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--ter1);
}

section.allElems {
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
}

.elem {
  background-color: #feba17;
  height: 300px;
  width: 195px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 10px var(--ter1);
}

.elem:active {
  scale: 0.97;
}

.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  bottom: 4%;
  right: 5%;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  /* font-size: 30px; */
  display: none;
  position: absolute;
}

.close-btn {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.close-btn:active {
  scale: 0.97;
}

.todo-list-fullpage {
  display: block;
}

.todo-list-fullpage h1 {
  font-size: 50px;
}

.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  background-color: var(--ter2);
  height: 100%;
  border-radius: 20px;
}


.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.todo-container .addTask form input#task-input {
  padding: 15px 25px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  font-weight: 200;
  outline: none;
  margin-bottom: 20px;
}

.todo-container .addTask form textarea {
  padding: 15px 25px;
  width: 100%;
  min-height: 250px;
  font-size: 20px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  font-weight: 500;
  outline: none;
  margin-bottom: 20px;
}
.todo-container .addTask form button{
  padding: 15px 25px;
  width: 100%;
  font-size: 18px;
  background-color: var(--ter1);
  border-radius: 5px;
  border: none;
  font-weight: 700;
  outline: none;
  margin-bottom: 20px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.todo-container .addTask form button:active{
  scale: 0.96;
}


.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  background-color: var(--ter2);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task h5{
  color: var(--sec);
  font-size: 20px;
  display: flex;
  gap: 10px;
}

.task h5 span.true{
  opacity: 1;
}
.task h5 span.false{
  opacity: 0;
}

.task h5 span{
  background-color: var(--red);
  color: var(--pri);
  padding: 4px 6px;
  border-radius: 50px;
  font-size: 11px;
}

.task button{
  padding: 10px 20px;
  counter-reset: var(--pri);
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.mark-imp{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  padding-bottom: 10px;
  gap: 15px;
  /* margin-bottom: 20px; */
  width: 100%;
}

.mark-imp input{
  scale: 1.5;
}

.mark-imp label{
  font-size: 18px;
}
